body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

.banner img {
    width: 100%;
    border-radius: 1em;
}

.pilih-liga img {
    max-height: 100px;
}

.pilih-liga .card {
    border-radius: 1em;
}

.products .card {
    border-radius: 1em;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb .active {
    font-weight: bold;
    color: black;
}

.btn-dark {
    border-radius: 0.625em;
}
